/* fixed- the position context is viewport
relative- relative to it's normal position
absolute- here the position context depends if u have any ancestors 
with positioning property applied then the element will be positioned 
relative to the closest ancestor.


*/
.grandpaa{
    border: 3px solid blue;
    height: 3000px;
    position:relative
  
    
}

.parent{
    border: 2px solid red;
    margin:15px;
}
.children{

    border: 2px solid green;
    display: inline-block;
    width: 300px;
    height: 200px;
    padding: 15px;
    margin:10px;
}


#three{
    position:fixed;
    bottom:0;
    left:0;
}

/* #two{
    position: relative;
    top: 30px;
    left: 20px;
} */
#two{
    position: absolute;
    top: 170px;
    left: 40px;
}