.image{
    background-image: url("https://images.pexels.com/photos/235734/pexels-photo-235734.jpeg?cs=srgb&dl=pexels-pixabay-235734.jpg&fm=jpg&_gl=1*14bfrer*_ga*MTM5ODYwODg1OS4xNjI5NzI1ODY0*_ga_8JE65Q40S6*MTY2NjM2MTMxOS40My4xLjE2NjYzNjI1MzkuMC4wLjA.");
    height: 550px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;

}

.title{
    position: absolute;
    top: 200px;
    left:400px;
    text-align: center;

}
h1{
    color: white;
    font-size: 50px;
}
button{
    border-radius: 10px;
    padding:10px;
    border: 2px solid white;
    cursor: pointer;
}
button:hover{
    cursor: pointer;
    padding: 15px;
    background-color:grey;
}