.card{
    background-color: aquamarine;
    padding:20px 40px 60px 100px;/* clock wise */
    border-radius: 15px;
    height: 350px;
    width: 350px;
    margin:30px;
    border-top: 2px solid red;
    margin-left: auto;
    margin-right: auto;

    /* box-shadow - offset x , offset y, blur- radius, spread- radius , color*/
    /* box-shadow: 1px 1px 1px 1px grey; */
    box-shadow: inset 4px 4px blue;

}

p{
  text-shadow: 1px 1px 1px violet;  
}