*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.container{
    display: flex;
    margin:25px;
}

.card{
    background-color: bisque;
    width: 60%;
    border-radius: 10px;
    margin:10px;
    display:flex;
}

.blue{
    display:none;
}

.card:hover .blue{
    display: inline;

}
.card:hover .gray{
    display: none;

}

