/*  */
/* universal selector  */


.card{
    width: 27%;
    display: inline-block;
    background-color: azure;
    border-radius: 10px;
    margin:20px;
    box-shadow: 1px 1px 5px black; 
}

.text-content{
    padding: 15px;
}

.image img{
    width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
p{
   
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



/* .para1{
    background-color: red;
}
.para2{
    background-color: blue;
}

#thepara{
    background-color: chartreuse;

} */
/* element selector
class selector
id selector

*/



